@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  color: #2d3440;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
}

.wrapper-basic {
  background-color: #feafc3;
}

.wrapper-light {
  background-color: #fcc850;
}

.wrapper-dark {
  background-color: #69a9ff;
}

.main-page {
  flex-grow: 1;
}

.main-page-home {
  display: grid;

  grid-template-columns: 1fr;
  row-gap: 80px;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

.button {
  position: relative;

  display: inline-block;
  padding: 12px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  color: #2d3440;
  text-decoration: none;

  background-color: #fcfcfc;
  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),
    0 0 0 4px rgba(252, 252, 252, 0.4);
  cursor: pointer;

  transition: border 0.3s ease-in, background-color 0.3s ease-in,
    box-shadow 0.3s ease-in;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15), 0 0 0 4px #fcfcfc;
}

.button:active {
  background-color: #fcfcfc;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px #2d3440;
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px #2d3440;
}

.button:disabled,
.button-disabled {
  color: #b9b9b9;

  background-color: #e7e7e7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);

  pointer-events: none;
}

.button-spinner::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 20;

  width: 16px;
  height: 16px;

  background-color: currentColor;
  transform: translateY(-50%);

  -webkit-mask-image: url("../images/icons/spinner.svg");
  mask-image: url("../images/icons/spinner.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.button-light {
  color: #fcfcfc;

  background-color: #ff2f64;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),
    0 0 0 4px rgba(255, 47, 100, 0.3);
}

.button-light:hover {
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #ff2f64;
}

.button-light:active {
  color: #fcfcfc;

  background-color: #feafc3;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px #2d3440;
}

.button-light:focus {
  color: #fcfcfc;

  background-color: #ff2f64;
  outline: none;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px #2d3440;
}

.button-light:disabled,
.button-light-disabled {
  color: #565c66;

  background-color: #b9b9b9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);

  pointer-events: none;
}

.button-outline {
  padding: 8px 10px;

  font-size: 14px;

  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #fcfcfc;
}

.button-outline:hover {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.button-outline:active {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
}

.button-outline:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: none;
  box-shadow: 0 0 0 2px #2d3440;
}

.button-outline:disabled,
.button-outline-disabled {
  color: #565c66;

  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #fcfcfc;
  opacity: 0.4;

  pointer-events: none;
}

.title {
  margin: 0;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.small-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.subtitle {
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.small-subtitle {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.form-input {
  width: 100%;
  padding: 14px 16px 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  color: #2d3440;

  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.form-input::placeholder {
  color: #b9b9b9;

  opacity: 1;
}

.form-input:hover {
  border: 1px solid #2d3440;
}

.form-input:focus {
  border: 1px solid #2d3440;
  outline: none;
  box-shadow: 0 0 0 1px #2d3440;
}

.form-input-error {
  border: 1px solid #ea5454;
}

.form-input:disabled {
  color: rgba(45, 52, 64, 0.65);

  background-color: #e7e7e7;
}

.form-input:disabled:hover {
  color: #2d3440;

  border: 1px solid #b9b9b9;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header-page {
  padding: 24px 0;
}

.logo {
  display: block;
  width: 137px;
  height: 56px;
}

.nav-logo {
  margin-right: 16px;
}

.logo:focus {
  outline: none;
  opacity: 0.6;
}

.logo:focus-visible {
  outline: none;
  opacity: 0.6;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav {
  display: grid;

  grid-template-columns: auto 1fr auto auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;

  color: inherit;
  text-decoration: none;

  border: 2px solid transparent;
  border-radius: 30px;

  transition: background-color 0.3s ease-in;
}

.nav-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.nav-link:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.nav-link:focus {
  outline: none;
}

/*navigation-list-link ???*/

.dropdown {
  position: relative;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  z-index: 10;

  display: none;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.dropdown-show .dropdown-container,
.dropdown:hover .dropdown-container,
.dropdown:focus-within .dropdown-container {
  display: block;
}

.dropdown-show .dropdown-link,
.dropdown:hover .dropdown-link,
.dropdown:focus-within .dropdown-link {
  color: #fcfcfc;

  background-color: #ff4a78;
}

.dropdown-show .dropdown-link::after,
.dropdown:hover .dropdown-link::after,
.dropdown:focus-within .dropdown-link::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-link {
  position: relative;

  padding-right: 40px;
}

.nav-link.dropdown-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;

  display: block;
  width: 16px;
  height: 16px;

  background-color: currentColor;
  transform: translateY(-50%);

  -webkit-mask-image: url("../images/icons/arrow-down.svg");
  mask-image: url("../images/icons/arrow-down.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
}

.dropdown-menu {
  left: 0;

  width: 138px;
  padding: 8px 0;
}

.dropdown-menu-title {
  margin: 0 16px;
  padding: 0 0 11px;

  font-weight: 700;
  font-size: 14px;

  border-bottom: 1px solid #b9b9b9;
}

.dropdown-menu-link {
  display: block;
  padding: 6px 10px 6px 16px;

  font-size: 14px;
  color: inherit;
  text-decoration: none;
}

.dropdown-menu-link:hover {
  background-color: #ffcbd8;
}

.dropdown-menu-link:active {
  background-color: #ff7799;
}

.dropdown-menu-link:focus {
  outline: none;
}

.dropdown-menu-link:focus-visible {
  background-color: #ffcbd8;
  outline: none;
}

.dropdown-menu-link-current {
  color: #fcfcfc;

  background-color: #ff4a78;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 290px;

  gap: 16px;
}

.user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;

  font-size: 14px;
  color: inherit;
  text-decoration: none;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid transparent;
  border-radius: 30px;
}

.user-link:focus {
  outline: none;
}

.user-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  outline: none;
}

.nav-phone {
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.user-link span {
  margin-left: 7px;
}

.user-link svg {
  fill: currentColor;
}

.user-link-search {
  width: 32px;
  height: 32px;
  padding: 0;
}

.search {
  right: 0;

  width: 356px;
  padding: 24px 16px;
}

.login {
  right: 0;

  width: 420px;
  padding: 53px 48px 52px 48px;
}

.login-title {
  margin: 0 0 35px;
}

.login-input {
  margin-bottom: 15px;
}

.login-wrapper {
  display: grid;

  gap: 22px;
  grid-template-columns: auto 1fr;
}

.login-button {
  width: 113px;
}

.login-link {
  display: inline-block;

  font-size: 14px;
  line-height: 20px;
  vertical-align: baseline;
  color: #2d3440;
  text-decoration: none;

  border-bottom: 1px solid #2d3440;
}

.basket {
  right: 0;
}

.basket-content-full {
  width: 441px;
  padding: 48px 48px 15px;
}

.basket-content-empty {
  width: 288px;
  padding: 48px 20px;
}

.basket-content {
  display: none;
}

.dropdown-basket-full .basket-content-full,
.dropdown-basket-empty .basket-content-empty {
  display: block;
}

.basket-delete {
  position: relative;

  display: block;
  width: 16px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.basket-delete::before,
.basket-delete::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 1px;

  background-color: #2d3440;
  transform: translate(-50%, -50%);
}

.basket-delete::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.basket-delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.basket-link {
  display: block;
  margin-bottom: 3px;

  color: #2d3440;
  text-decoration: none;
}

.basket-subtitle {
  font-weight: 700;
  font-size: 18px;
}

.basket-desc {
  font-size: 14px;
  color: #b9b9b9;
}

.basket-price {
  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.slider-wrapper {
  display: grid;

  grid-template-columns: auto 1fr;
}

.slider-content-container {
  width: 525px;
}

.slider-content {
  display: none;
  padding: 115px 20px 115px 70px;
}

.slider-content-active {
  display: block;
}

.slider-heading {
  margin: 0 0 24px;

  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-text {
  margin: 0 0 48px;

  font-size: 18px;
  line-height: 24px;
}

.slider-control {
  position: relative;
}

.slider-images {
  display: grid;
  align-items: center;

  gap: 40px;
  grid-template-columns: 1fr 100px 100px;
}

.slider-image-container {
  position: relative;

  width: 100px;
  height: 150px;

  opacity: 0.4;
}

.slider-image-container img {
  position: relative;
  z-index: 2;

  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.slider-image-container-active {
  width: 367px;
  height: 507px;

  opacity: 1;
}

.slider-arrows-container {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  width: 365px;

  transform: translateY(-50%);
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  color: #fcfcfc;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.slider-arrow svg {
  fill: currentColor;
}

.slider-arrow-next {
  transform: rotate(180deg);
}

.slider-arrow:hover {
  color: #2d3440;

  background-color: #fcfcfc;
}

.slider-arrow:active {
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid transparent;
}

.slider-arrow:focus {
  outline: none;
}

.slider-arrow:focus-visible {
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  outline: none;
}

.slider-navigation-bullets {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  gap: 8px;
}

.slider-bullet {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;

  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.slider-bullet-active {
  background-color: #fcfcfc;
}

.slider-bullet:hover {
  border: 1px solid #fcfcfc;
}

.slider-bullet:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid transparent;
}

.slider-bullet:focus-visible {
  border: 1px solid #2d3440;
  outline: none;
}

.banners-title {
  margin: 0 0 54px;
}

.banners-list {
  display: grid;

  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.banners-item {
  display: flex;
  flex-direction: column;
  padding: 36px 220px 36px 36px;

  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  border-radius: 16px;
}

.banners-item-raspberry {
  background-image: url("../images/raspberry.png");
}

.banners-item-marshmallow {
  background-image: url("../images/marshmallow.png");
}

.banners-text {
  margin: 0 0 28px;

  line-height: 22px;
}

.banners-button {
  margin-top: auto;
}

.product-title {
  margin: 0 0 56px;
}

.product-list {
  display: grid;

  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.product-item {
  padding-top: 51px;

  text-align: center;
}

.product-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 25px 40px;

  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-link-img {
  display: block;
  width: 168px;
  height: 168px;
  margin: -77px auto 17px;

  border-radius: 50%;
}

.product-link-img img {
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.product-link {
  display: inline-block;

  color: inherit;
  text-decoration: none;
}

.product-subtitle {
  margin: 0 0 8px;
}

.product-desc {
  margin: 0 0 16px;

  line-height: 22px;
  color: #565c66;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.product-price {
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  color: #fcfcfc;

  background-color: #ff2f64;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  transition: border 0.3s ease-in, background-color 0.3s ease-in;
}

.product-button svg {
  fill: currentColor;
}

.product-button:hover {
  color: #2d3440;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.product-button:active {
  color: #2d3440;

  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
}

.product-button:focus {
  outline: none;
}

.product-button:focus-visible {
  color: #fcfcfc;

  background-color: #ff2f64;
  border: 2px solid #2d3440;
  outline: none;
}

.product-button:disabled,
.product-button-disabled {
  color: #565c66;

  background-color: #b9b9b9;
}

.about-container {
  padding: 24px;

  background-color: #ffffff;
  background-image: url("..//images/waffle.jpg");
  border-radius: 16px;
}

.about-wrapper {
  padding: 56px 40px;

  background-color: #ffffff;
  border-radius: 16px;
}

.about-title {
  margin-bottom: 56px;
}

.about-list {
  display: grid;

  gap: 40px 30px;
  grid-template-columns: repeat(2, 1fr);
}

.about-item {
  min-height: 48px;
  padding-left: 64px;

  line-height: 22px;
  color: #565c66;

  background-repeat: no-repeat;
  background-position: left;
}

.about-item-ice-cream {
  background-image: url(../images/icons/icecream.svg);
}

.about-item-cow {
  background-image: url("../images/icons/cow.svg");
}

.about-item-leaf {
  background-image: url("../images/icons/leaf.svg");
}

.about-item-thermometer {
  background-image: url("../images/icons/thermometer.svg");
}

.promo-content {
  display: grid;
  align-items: center;

  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.news {
  height: 100%;
  padding: 33px 220px 33px 32px;

  background-color: #ffffff;
  background-image: url("../images/fon-icecream.jpg");
  background-repeat: no-repeat;
  background-position: center right -43px;
  background-size: cover;
  border-radius: 16px;
}

.news-title {
  margin: 0 0 12px;

  font-weight: 400;
  color: #565c66;
}

.news-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.subscribe {
  padding: 6px;

  background-image: url(../images/fon-mail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 26px;

  background-color: #ffffff;
  border-radius: 16px;
}

.subscribe-desc {
  margin: 0 0 44px;

  line-height: 22px;
  color: #565c66;
}

.subscribe-form {
  display: grid;
  align-items: center;
  margin-top: auto;

  gap: 17px;
  grid-template-columns: 1fr auto;
}

.subscribe-submit {
  width: 156px;
}

.delivery-container {
  display: grid;
  padding: 64px;

  column-gap: 92px;

  background-color: #fcfcfc;
  background-image: url("../images/fon-delivery.jpg");
  background-position: center right;
  background-size: cover;
  border-radius: 16px;

  grid-template-columns: auto auto;
}

.delivery-wrapper {
  width: 450px;
  padding: 105px 36px 10px;
}

.delivery-title {
  margin-bottom: 24px;

  text-align: left;
}

.delivery-desc {
  margin: 0;

  line-height: 22px;
  color: #565c66;
}

.delivery-form-container {
  padding: 42px 40px 42px;

  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-form {
  display: grid;

  gap: 20px 16px;
  grid-template-columns: 117px 1fr;
}

.delivery-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.delivery-fieldset-address {
  grid-column: 1/-1;
}

.delivery-form-tooltip {
  display: flex;
  align-items: center;
}

.delivery-form-label {
  display: block;
  margin-right: 5px;

  font-weight: 700;
  line-height: 20px;
}

.delivery-tooltip {
  position: relative;
}

.delivery-tooltip-text {
  display: none;
}

textarea .delivery-form-input {
  resize: none;
}

.delivery-button {
  display: block;
  width: 152px;
  margin: 0 auto;

  grid-column: 1/-1;
}

.contacts-container {
  padding: 64px;

  background-color: #e7cdcd;
  background-image: url("../images/fon-contacts.jpg");
  background-position: right;
  background-size: cover;
  border-radius: 16px;
}

.contacts-content {
  width: 343px;
  padding: 40px;

  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-heading {
  margin: 0 0 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.contacts-address {
  margin-bottom: 26px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
